# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


/.idea/
#/idl/
/logs/
/.vscode/
# /config/db.yml
/scripts/microservice/logs/
/cmd/*/logs/
/pkg/*/logs/
/dal/db/logs/
/scripts/mysql.md
/*/*/logs
/cmd/api/config
/.DS_Store
/cmd/.DS_Store